<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fzxt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>  
	<!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 自动安装apk的权限 -->
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_project"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.fzxt.ReadyActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape" >
            
        </activity>
        
        <activity
            android:name=".MainActivity2"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape" >
            
        </activity>
        
        <activity
            android:name=".MainActivity3"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape" >
            
        </activity>
        
        <activity
            android:name=".ShowNameActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape" >
            
        </activity>
        
    </application>

</manifest>
